*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.search{
    border-radius: 20%;
}
th, td{
    text-align: center;
    /* display: flex;
    align-items: center; */
}

td img{
    width: 30px;
    height: 30px;
}